.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #214283;
    -fx-text-fill: #A9B7C6;
}

.list-cell {
    -fx-background-color: #1F242A;
    -fx-text-fill: #A9B7C6;
}

.list-cell:filled:hover {
    -fx-background-color: #40545E;
    -fx-text-fill: #A9B7C6;
}